<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>

<script>
  function addDarkmodeWidget() {
    const options = {
      bottom: "32px", // default: '32px'
      right: "32px", // default: '32px'
      left: "unset", // default: 'unset'
      time: "0.2s", // default: '0.3s'
      mixColor: "#fff", // default: '#fff'
      backgroundColor: "#fff", // default: '#fff'
      buttonColorDark: "#100f2c", // default: '#100f2c'
      buttonColorLight: "#fff", // default: '#fff'
      saveInCookies: true, // default: true,
      label: "🌓", // default: ''
      autoMatchOsTheme: true, // default: true
    };
    const darkmode = new Darkmode(options);
    darkmode.showWidget();
  }
  window.addEventListener("load", addDarkmodeWidget);
</script>

<style>
  .navbar { position: unset; }
  .darkmode-toggle { color: #fff; }
  .darkmode--activated .darkmode-toggle { color: #000; }
</style>
